/* pages/index.vue */
@keyframes firstViewMaskColorChangeAnimation {
  100% {
    background-color: var(--bg-black);
  }
}

@keyframes hideAnimation {
  100% {
    opacity: 0;
  }
}

@keyframes showAnimation {
  100% {
    opacity: 1;
  }
}

@keyframes upAndDownAnimation {
  0% {
    height: calc(100vh);
  }
  50% {
    height: calc(100vh - 32px);
  }
  100% {
    height: calc(100vh);
  }
}

@keyframes moveBottomAnimation {
  0% {
    height: calc(100vh);
  }
  100% {
    height: calc(100vh * 2 - 288px);
  }
}

/* components/AudioPlayer.vue */
@keyframes ripplesAnimation {
  0% {
    opacity: 0;
  }

  4% {
    opacity: 1;
  }

  100% {
    width: 140px;
    height: 140px;
    opacity: 0;
  }
}
