:root {
  --main-color: #55ebf7;

  --text-main: #55ebf7;

  --text-black: #333333;
  --text-white: #ffffff;

  --bg-black: #272822;
}

.nuxtLink {
  text-decoration: none;
}

.boxShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
